*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #f2f2f2;

    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    display: flex;
    flex-direction: column;

    max-width: 1000px;
    min-height: 100vh;

    margin: 0 auto;
    padding: 0 30px;

    border: 1px solid #ccc;
    border-width: 0 1px;

    background: #fff;
}

.header,
.footer
{
    padding: 20px 0;
}

.header h1
{
    font-size: 15px;
}

.footer
{
    font-size: 13px;
}

.content
{
    flex-grow: 1;
}

.footer
{
    text-align: right;
}

.welcome
{
    margin: 0 -30px;
    padding: 40px 20px;

    color: #fff;

    background: url(../assets/images/welcome-back.jpg) no-repeat;
    background-position: 0 -100px;
    background-size: cover;
    filter: grayscale(100%);

    text-align: center;
}

.welcome h2,
.welcome h3
{
    font-weight: normal;
}

.welcome h3
{
    margin-top: 10px;
}

.welcome input
{
    width: 30%;

    margin-top: 40px;
    padding: 5px 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.movies-list
{
    margin: 20px 0 30px;
}

.movies-list h2
{
    margin-bottom: 15px;

    font-size: 15px;

    color: #212c39;
}

.movies-list ul
{
    display: flex;

    max-width: 100%;
    overflow: hidden;
}

.movies-list ul,
.movies-list li
{
    list-style: none;
}

.movies-list li a
{
    display: flex;
    flex-direction: column;

    position: relative;

    margin-right: 20px;

    text-decoration: none;
}

.movies-list h4
{
    order: 3;

    width: 100px;
    margin-top: 5px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-weight: normal;
    font-size: 14px;
}

.movies-list small
{
    order: 4;
}

.movies-list .rating
{
    position: absolute;
    right: 5px;
    top: 5px;

    padding: 3px;
    background: #fff;
    border-radius: 3px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.movies-list img
{
    width: 100px;
}


