.search {
    margin: 0 -30px;
    color: #fff;
    background: url(../assets/images/welcome-back.jpg) no-repeat;
    background-position: 50% 50%;
    background-color: #ccc;
    text-align: center;
}

.search .text-box {
    height: 120px;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.5);
}

.search h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.search h3 {
    margin-bottom: 30px;
    font-size: 17px;
}

.search input {
    width: 30%;
    min-width: 200px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 400px) {
    .search {
        border: 0;
    }
}
