.verification {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

.verification .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.verification_display_none {
    display: none;
}

.verification #veriff-root {
    margin: 100px auto;
}
