.watch-link {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.watch-link:link,
.watch-link:visited {
    color: #000;
}

.watch-link:hover,
.watch-link:active {
    color: #f00;
}
