<div class="cast-list thumbs-list">
    {{#if @cast.length}}
        <h2>Movie cast</h2>
        <ul>
            {{#each @cast as |person|}}
                <Person-thumb @person={{person}} />
            {{/each}}
        </ul>
    {{else}}
        <h2>Movie cast unknown</h2>
    {{/if}}
</div>
