<div class="search">
    <div class="text-box">
        <h2>Welcome</h2>
        <h3>Millions of movies, TV shows and people to discover. Explore now</h3>
        <Input @value={{this.query}} {{on "keyup" this.onQueryChange}} placeholder="Search for a movie..." />
    </div>
</div>
